<!doctype html>
<html lang="ko">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130483453-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130483453-2');
  </script>

  <title>싸게싸게</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="libs/bootstrap/4.0.0-beta/bootstrap.min.css">  
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" src="css/index.css"></link>
  
  <script src="libs/jquery/3.2.1/jquery-3.2.1.min.js"></script>
  <script src="libs/popper.js/1.12.3/popper.min.js"></script>
  <script src="libs/bootstrap/4.0.0-beta/bootstrap.min.js"></script>

  <!-- vue.js -->
  <script src="libs/vue/2.5.19/vue.js"></script>
  <!-- csv -->
  <script src="libs/jquery-csv/0.8.9/jquery.csv.js"></script>
  <!-- cookie -->
  <script src="libs/js-cookie/2/js.cookie.min.js"></script>
  <style>
    #pageMessages {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
}

.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right:.3em;
}
  </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #627897;">
    <a class="navbar-brand" href="http://ssagae.ga">
      <img src="css/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      싸게싸게
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://ssagae.ga/cart" target="_blank"><strong><i class="fa fa-shopping-bag pr-1"></i>장바구니</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://goo.gl/forms/5tuB1phddJ2kCeVt2" target="_blank"><strong><i class="fa fa-question-circle pr-1"></i></i>문의사항</a></strong>
        </li>
      </ul>
    </div>
  </nav>
  
  
  <div class="container pt-5" >
    <div id="pageMessages"></div>
    <div class="row justify-content-md-center mb-5 mt-5">
      <div class='col-12 align-self-top'>
        <div class="container" id="listApp">
          
          <div v-if="items.length != 0" class="row justify-content-md-center pt-4">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-light" type="button">내 장바구니 공유</button>
              </span>
              <input id="linkinput" type="text" class="form-control" :value="'https://ssagae.ga/list?listed=' + this.carts">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" onClick="copyLink()">링크복사</button>
              </span>
            </div>
          </div>
          
          <div v-if="items.length != 0" class="row justify-content-md-center pt-4">
            <div class='col-12'>
              {{ items.length }} 건
              <button type="button" class="btn btn-link" @click="sortOption('price')">가격</button>
              <button type="button" class="btn btn-link"  @click="sortOption('data')">데이터</button>
              <button type="button" class="btn btn-link"  @click="sortOption('promotion')">프로모션</button>
            </div>
          </div>

          <div v-for="(item, i) in scrolls"  class='col-12 col-md-4 d-inline-block pt-5'>
            <div class="card text-center">
              <div class="card-header">[ {{ item.id}} ] {{ item.vendor }} ( {{ item.agency }} | {{ item.network }} ) <span v-if="item.promotion" class="badge badge-pill badge-danger">프로모션</span></div>
              <div class="card-body">
                <h4 class="card-title text-info">{{ item.title }}</h4>

                <h3 style='display:inline-block'>월</h3>
                <h1 style='display:inline-block'>{{ item.price == null ? '' : (item.price * 1).toLocaleString() }}</h1>
                <h3 style='display:inline-block'>원</h3>
                <h3></h3>

                <div v-if="item.package_offer">
                  <i class="fa fa-cube"></i>
                  <h5 style='display:inline-block'>{{ item.package_offer == -1 ? '기본' : (item.package_offer*1).toLocaleString() + ' ' + item.package_unit }} <span class="badge badge-secondary">조절형</span></h5>
                </div>

                <div class="d-inline-block" v-if="item.call">
                  <i class="fa fa-phone"></i>
                  <h5 style='display:inline-block'>{{ item.call == -1 ? '기본' : (item.call*1).toLocaleString() + '분' }}</h5>
                </div>

                <div class="d-inline-block" v-if="item.sms">
                  <i class="fa fa-comment-alt"></i>
                  <h5 style='display:inline-block'>{{ item.sms == -1 ? "기본" : (item.sms*1).toLocaleString() + '건' }}</h5>
                </div>

                <div class="d-inline-block" v-if="item.data">
                  <i class="fa fa-wifi"></i>
                  <h5 style='display:inline-block'>{{ item.data == -1 ? "기본" : (item.data*1).toLocaleString() + item.data_unit }}</h5>
                </div>

                <span v-if="item.data_daily_offer" class="badge badge-secondary ml-1">{{ item.data_daily_offer }}/일</span>
                <span v-if="item.data_infinity" class="badge badge-secondary ml-1">{{ item.data_infinity }}</span>
                <h5></h5>

              </div>

              <div class="card-footer text-center">
                <a class="btn btn-outline-primary" role="button" :href="'http://ssagae.ga/detail?item='+item.id" target="_blank">자세히 보기</a>
                <button :class="'btn btn-outline-' + ( carts.includes( item.id * 1 ) ? 'success' : 'primary' )" @click="carting( item.id )"><i class="fa fa-shopping-cart"></i> {{ carts.includes( item.id * 1 ) ? '빼기' : '담기' }}</button>
              </div>

            </div>
          </div>
          
          <div v-if="items.length == 0" class="row justify-content-md-center pt-4">
            <div class="jumbotron jumbotron-fluid">
              <div class="container text-center">
                <h4 class="display-3">장바구니가</h4>
                <h4 class="display-3">비었군요</h4>
                <p class="lead">장바구니에 담은 상품을 비교 할 수 있는 서비스를 준비중입니다.</p>
                <a role="button" href="http://ssagae.ga" target="_blank" class="btn btn-outline-primary">검색 페이지로 돌아가기</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>  
  
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  
  <script src="js/data.js"></script>
  <script src="js/common.js"></script>
  <script src="js/cart.js"></script>
</body>

</html>
